<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="layout.css">
    <script src="jquery.js""></script>
    <script src=" socket.io/socket.io.js"></script>
    <script src="function.js"></script>
</head>

<body>
    <input type="text" id="txtRoom">
    <input type="button" value="Tạo room" id="btnCreateRoom">
    <div id="left">
        <h3>Rooms</h3>
        <div id="roomList"></div>
    </div>
    <h4 id="currentRoom">...</h4>
    <div id="right">

    </div>
    <input type="text" id="txtMessage">
    <input type="button" value="Chat" id="btnChat">
</body>

</html>