<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="jquery.js""></script>
    <script src=" socket.io/socket.io.js"></script>
    <script>
        // connect
        const socket = io("http://localhost/");
        socket.on('Server-send-data', data => {
            $('#content').append(`${data}, `);
        });
        $(document).ready(() => {
            $('#mrA').click(() => {
                socket.emit('Client-send-data', 'Syhanh');
            });
        })

    </script>
</head>

<body>
    <div id="mrA">Click send</div>
    <h2 id="content"></h2>
</body>

</html>